In [1]:
# import libreries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dep=dataset[['charges']]

In [9]:
#from sklearn.model_selection import train_test_split
#x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [14]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid={'n_estimators': [10, 50, 100],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'criterion':['squared_error', 'absolute_error', 'friedman_mse', 'poisson']}
grid=GridSearchCV(estimator=RandomForestRegressor(),param_grid=param_grid,refit=True,verbose=3,n_jobs=-3)

grid.fit(indep,dep)

Fitting 5 folds for each of 324 candidates, totalling 1620 fits

C:\Users\Manikandan\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-3,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_depth': [None, 10, 20],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [10, 50, 100]},
             verbose=3)

In [15]:
reg=grid.cv_results_
print('The Best R_score Value For The Best Parameter {}:'.format(grid.best_params_))

The Best R_score Value For The Best Parameter {'criterion': 'absolute_error', 'max_depth': None, 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 100}:

In [16]:
Table=pd.DataFrame.from_dict(reg)

In [17]:
Table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_min_samples_leaf,param_min_samples_split,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.075693,0.004067,0.013225,0.002524,squared_error,None,1,2,10,"{'criterion': 'squared_error', 'max_depth': No...",0.830174,0.751328,0.842096,0.814702,0.817611,0.811182,0.031472,293
1,0.341554,0.016486,0.027938,0.001842,squared_error,None,1,2,50,"{'criterion': 'squared_error', 'max_depth': No...",0.847085,0.767130,0.853679,0.822694,0.838431,0.825804,0.031118,263
2,0.696678,0.030061,0.040935,0.001135,squared_error,None,1,2,100,"{'criterion': 'squared_error', 'max_depth': No...",0.845196,0.771307,0.858981,0.817334,0.838924,0.826349,0.030624,260
3,0.073163,0.004230,0.013910,0.001122,squared_error,None,1,5,10,"{'criterion': 'squared_error', 'max_depth': No...",0.844886,0.771681,0.859713,0.811128,0.833885,0.824259,0.030698,271
4,0.283607,0.007455,0.019769,0.005964,squared_error,None,1,5,50,"{'criterion': 'squared_error', 'max_depth': No...",0.853770,0.776538,0.864327,0.821129,0.843859,0.831925,0.031157,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,0.413500,0.012597,0.021498,0.002843,poisson,20,4,5,50,"{'criterion': 'poisson', 'max_depth': 20, 'min...",0.864282,0.784491,0.873502,0.839637,0.838364,0.840055,0.030971,169
320,0.718255,0.032780,0.026765,0.006821,poisson,20,4,5,100,"{'criterion': 'poisson', 'max_depth': 20, 'min...",0.864239,0.788567,0.874461,0.837669,0.835671,0.840121,0.029814,164
321,0.082903,0.016820,0.010340,0.003384,poisson,20,4,10,10,"{'criterion': 'poisson', 'max_depth': 20, 'min...",0.864016,0.777456,0.874562,0.835505,0.817428,0.833793,0.034699,228
322,0.330472,0.032258,0.018480,0.003837,poisson,20,4,10,50,"{'criterion': 'poisson', 'max_depth': 20, 'min...",0.864553,0.789397,0.871841,0.836689,0.838007,0.840097,0.028956,166
323,0.702464,0.022045,0.028078,0.001287,poisson,20,4,10,100,"{'criterion': 'poisson', 'max_depth': 20, 'min...",0.864018,0.786930,0.873230,0.837872,0.835523,0.839515,0.030070,175

In [24]:
Age=float(input("Age:"))
BMI=float(input("Bmi:"))
Children=float(input("child:"))
Sex=int(input("sex male 0 or 1 :"))
smoker=int(input("Smoker yes 0 or 1 :"))

Age:38
Bmi:23.1
child:2
sex male 0 or 1 :0
Smoker yes 0 or 1 :0

In [25]:
future_prediction=grid.predict([[Age,BMI,Children,Sex,smoker]])
print("future_prediction ={}".format(future_prediction))

future_prediction =[6857.4811775]

C:\Users\Manikandan\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [21]:
import pickle
fileName="Finalized_Model_RF_Gridsearch.sav"

In [22]:
# Save this Model
pickle.dump(grid,open(fileName,'wb'))

In [23]:
# get the Model's predicted Result
Load_Model=pickle.load(open("Finalized_Model_DR_Gridsearch.sav",'rb'))